
<div class="card table-responsive">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-10"><h1 class="text-center">Usuarios de radius</h1></div>
            <div class="col-sm-1 mt-1"><button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalCreate">Registrar</button></div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-responsive">
            <thead>
                <th class="text-center">#</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Tiempo de session</th>
            </thead>
            <tbody>
                <%show.forEach((item,index) =>{%>
                <tr>
                    <td class="text-center"><%=index+1%></td>
                    <td class="text-center"><%=item.username%></td>
                    <td class="text-center"><%=item.session_timeout / 60%></td>
                    <td class="text-center" >
                        <div class="btn-groiup text-center" role="group">
                            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userEdit_<%=item.id%>">Editar</button>
                            <button class="btn btn-danger btn-sm" onclick="deleteDevice('/userRadius/delete','<%=item.id%>')">Eliminar</button>
                        </div>
                    </td>
                    <!-- Modal Edit-->
                    <div class="modal fade" id="userEdit_<%=item.id%>" tabindex="-1" aria-labelledby="exampleModalLabel_<%=item.id%>" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                            <form action="/userRadius/edit/<%=page%>" method="post" id="editForm_<%=item.id%>" novalidate onsubmit="validateForm3(this,'userEdit_<%=item.id%>')">
                                <input type="hidden" name="id" id="id" value="<%=item.id%>">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" value="<%=item.username%>" name="username" id="username" placeholder="Nombre de Usuario" required pattern="[a-zA-Z0-9]{4,50}">
                                    <label for="nasname">Usuario</label>
                                    <div class="invalid-feedback">
                                        Solo letras y numeros
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" value="" name="value" id="clave" placeholder="Clave" required pattern="\S+{8,16}">
                                    <label for="nombre">Clave</label>
                                    <div class="invalid-feedback">
                                        No se admiten espacios, entre 8 a 16 caracteres
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" value="<%=item.session_timeout / 60 %>" name="session_timeout" id="session_timeout" placeholder="Tiempo" pattern="\d{1,3}">
                                    <label for="apellido">Tiempo de sesion en minutos</label>
                                    <div class="invalid-feedback">
                                        Ej: 30
                                    </div>
                                </div>
                            <div class="modal-footer">
                                <button type="submit" id="<%=item.id%>" class="btn btn-primary" >Guardar cambios</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </tr>
                <%})%>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <nav aria-label="Page navigation example" class="text-end">
                            <ul class="pagination">
                                <%if (page > 1){%>
                                    <li class="page-item"><a class="page-link" href="/usersRadius/<%=Number(page) - 1 %>">Anterior</a></li>
                                <%}%>
                                <li class="page-item"><a class="page-link" href="/usersRadius/<%=pages%>" >Ultima pagina: <%=pages%></a></li>
                                <%if (page <= Number(pages) - 1){%>
                                    <li class="page-item"><a class="page-link" href="/usersRadius/<%=Number(page) + 1 %>">Sigueinte</a></li>
                                <%}else{%>
                                    <li class="page-item"><a class="page-link" href="/usersRadius/1%>">Inicio</a></li>
                                <%}%>
                            </ul>
                          </nav>
                    </td>
                    <td class="text-center">
                        <span class="bage bg-light text-primary">Pagina: <%=page%></span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- Modal Create-->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreate" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
        <form action="/userRadius/create" method="post" id="createForm" novalidate class="needs-validation">
            <div class="form-floating mb-3">
                <input type="text" class="form-control"  name="username" id="username" placeholder="Nombre de Usuario" required pattern="[a-zA-Z0-9]{4,50}">
                <label for="nasname">Usuario</label>
                <div class="invalid-feedback">
                    Solo letras y numeros
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control"  name="value" id="clave" placeholder="Clave" required pattern="\S+{8,16}">
                <label for="nombre">Clave</label>
                <div class="invalid-feedback">
                    No se admiten espacios, entre 8 a 16 caracteres
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control"  name="session_timeout" id="session_timeout" placeholder="Tiempo" pattern="\d{1,3}">
                <label for="apellido">Tiempo de sesion en minutos</label>
                <div class="invalid-feedback">
                    Ej: 30
                </div>
            </div>
        <div class="modal-footer">
            <button type="submit"  class="btn btn-primary" >Guardar cambios</button>
        </form>
        </div>
    </div>
    </div>
</div>
</div>

